<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preload" href="/fonts/nunito-latin-ext.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/nunito-latin.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/opensans-latin-ext.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/opensans-latin.woff2" as="font" type="font/woff2" crossorigin>
<title>{{PAGE_TITLE}}</title>
<meta name="description" content="{{PAGE_DESCRIPTION}}">
{{ROBOTS_META}}
<link rel="canonical" href="{{CANONICAL_URL}}">
<meta property="og:type" content="website">
<meta property="og:locale" content="{{SITE_LOCALE}}">
<meta property="og:site_name" content="{{SITE_NAME}}">
<meta property="og:title" content="{{PAGE_TITLE}}">
<meta property="og:description" content="{{PAGE_DESCRIPTION}}">
<meta property="og:url" content="{{CANONICAL_URL}}">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{PAGE_TITLE}}">
<meta name="twitter:description" content="{{PAGE_DESCRIPTION}}">
<meta property="og:image" content="{{SOCIAL_IMAGE_URL}}">
<meta property="og:image:width" content="400">
<meta property="og:image:height" content="400">
<meta property="og:image:alt" content="VeliGeldi logosu">
<meta name="twitter:image" content="{{SOCIAL_IMAGE_URL}}">
<meta name="twitter:image:alt" content="VeliGeldi logosu">
<link rel="icon" type="image/svg+xml" href="/logo.svg">
<link rel="apple-touch-icon" href="/img/veligeldi-logo-mark.png">
<script type="application/ld+json">
{{ORGANIZATION_JSON_LD}}
</script>
<link rel="stylesheet" href="/css/site.css">
</head>
